@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #365b63;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  background: url(images/image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  animation: animate 20s infinite;
}

@keyframes animate {
  25% {
    background: url(images/image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  50% {
    background: url(images/image3.jpg);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
  }
  100% {
    background: url(images/image4.jpg);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
  }
}
