@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #dde1e7;
  text-align: center;
}

.icons {
  display: flex;
  margin: 40px 0;
}

.icons li {
  position: relative;
  list-style: none;
  height: 70px;
  width: 70px;
  background: #dde1e7;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.icons li a {
  line-height: 70px;
  font-size: 27px;
  color: #b6bbc5;
}

.second li.shadow-2 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.first li.shadow-1 {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.first li.shadow-1 a {
  font-size: 25px;
}

li:nth-child(1).fill-color a {
    color: #4278b2;
}
